<div class="row">
    <div class="col-md-12">
        <p-table #dt [columns]="cols_pessoa" [value]="pessoas" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div class="row">

                    <div class="col-md-3 text-right">
                        <div class="ui-inputgroup">

                            <input type="text" pInputText size="50" placeholder="Busca geral" (input)="dt.filterGlobal($event.target.value, 'contains')">
                            <span class="ui-inputgroup-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="offset-md-8 col-md-1 text-right align-middle">
                        <button pButton icon="fa fa-fw fa-plus" value="Adicionar" (click)="irParaCadastro()" class="ui-button-secondary"></button>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'nome'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'cpf'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <p-button icon="fa fa-edit" (click)="editarPessoa(rowData['_id']['$oid'])"></p-button>
                        <button pButton type="button" (click)="excluirPessoa(rowData['_id']['$oid'])" icon="fa fa-trash" class="ui-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">

            </ng-template>
        </p-table>
    </div>
</div>